node_modules/
.gitignore
.npmignore
.nyc_output/
.codecov.yml
.dockerignore
.eslintrc
.prettierrc.yml
**/karma.conf.js
**/*.md
**/*.png
**/.eslintignore
**/.eslintrc*
**/.gitignore
**/.mocharc*
**/.npmignore
**/.prettierignore
**/.prettierrc*
modules/**/scripts
**/examples*
lerna-debug.log
modules/**/webpack.config.js
modules/**/node_modules
modules/**/dist
modules/**/test
