node_modules/
.gitignore
.npmignore
.nyc_output/
.codecov.yml
.dockerignore
.drone.jsonnet
.drone.yml
.eslintrc
.prettierrc.yml
DEVELOPERS.md
lerna-debug.log
modules/**/node_modules/
modules/**/dist/
modules/**/test/
modules/**/.nyc_output/
modules/**/.gitignore
modules/**/.npmignore
