# BitGoJS code owners and first officers will automatically be requested for review whenever a pull request touches the files they own.
# Each line is a file pattern followed by one or more owners.

# These owners and first officers will be the default owners for everything in the repo.
*   @BitGo/sdk-team

# Order is important. The last matching pattern has the most precedence.

# Recovery
modules/bitgo/src/v2/recovery.ts @BitGo/sdk-team

# UTXO coin modules
modules/bitgo/test/v2/unit/coins/utxo/ @BitGo/btc-team
modules/bitgo/test/v2/unit/lightning.ts @BitGo/btc-team
modules/abstract-utxo/src/ @BitGo/btc-team
modules/sdk-coin-bch/src/ @BitGo/btc-team
modules/sdk-coin-bch/test/ @BitGo/btc-team
modules/sdk-coin-bcha/src/ @BitGo/btc-team
modules/sdk-coin-bcha/test/ @BitGo/btc-team
modules/sdk-coin-bsv/src/ @BitGo/btc-team
modules/sdk-coin-bsv/test/ @BitGo/btc-team
modules/sdk-coin-btc/src/ @BitGo/btc-team
modules/sdk-coin-btc/test/ @BitGo/btc-team
modules/sdk-coin-btg/src/ @BitGo/btc-team
modules/sdk-coin-btg/test/ @BitGo/btc-team
modules/sdk-coin-dash/src/ @BitGo/btc-team
modules/sdk-coin-dash/test/ @BitGo/btc-team
modules/sdk-coin-ltc/src/ @BitGo/btc-team
modules/sdk-coin-ltc/test/ @BitGo/btc-team
modules/sdk-coin-zec/src/ @BitGo/btc-team
modules/sdk-coin-zec/test/ @BitGo/btc-team
modules/sdk-core/src/bitgo/lightning/ @BitGo/btc-team
modules/unspents/ @BitGo/btc-team
modules/utxo-lib/ @BitGo/btc-team
modules/utxo-bin/ @BitGo/btc-team

# Eth
modules/bitgo/src/v2/coins/abstractEthLikeCoin.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/*celo.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/celoToken.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/*eth.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/*eth2.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/*rbtc.ts @BitGo/eth-team
modules/bitgo/src/v2/coins/token.ts @BitGo/eth-team

modules/bitgo/test/v2/unit/coins/abstractEthLikeCoin.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/*celo.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/celoToken.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/*eth.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/*eth2.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/*rbtc.ts @BitGo/eth-team
modules/bitgo/test/v2/unit/coins/token.ts @BitGo/eth-team

modules/bitgo/src/v2/coins/*xlm.ts @BitGo/sdk-team
modules/bitgo/src/v2/coins/*xrp.ts @BitGo/sdk-team

# Trading accounts
modules/bitgo/src/v2/trading/*.ts @BitGo/sdk-team

# Express
modules/express/* @BitGo/sdk-team

# Statics
modules/statics/* @BitGo/sdk-team

# Package Configuration Files
modules/*/package*.json @BitGo/sdk-team

# ACCOUNT LIB
modules/account-lib/* @BitGo/sdk-team

# Eth
modules/account-lib/src/coin/celo/* @BitGo/eth-team
modules/account-lib/src/coin/etc/* @BitGo/eth-team
modules/account-lib/src/coin/eth/* @BitGo/eth-team
modules/account-lib/src/coin/eth2/* @BitGo/eth-team
modules/account-lib/src/coin/rbtc/* @BitGo/eth-team

modules/account-lib/test/coin/celo/* @BitGo/eth-team
modules/account-lib/test/coin/etc/* @BitGo/eth-team
modules/account-lib/test/coin/eth/* @BitGo/eth-team
modules/account-lib/test/coin/eth2/* @BitGo/eth-team
modules/account-lib/test/coin/rbtc/* @BitGo/eth-team

# Lock files
yarn.lock @BitGo/sdk-team
modules/express/package-lock.json @BitGo/sdk-team

# NOTHING BELOW THIS LINE
CODEOWNERS @BitGo/git-admins @BitGo/sdk-team
